---
import GroupManagement from '../components/GroupManagement.astro'
import Layout from '../layouts/Layout.astro'

const title = 'チームカレンダー'
---

<Layout title={title}>
  <main>
    <GroupManagement />
  </main>
</Layout> 